.principal {
    background-image: url(../imagenes/fotosion.jfif);
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    margin-bottom: 0.3rem;
    padding: 0.6rem;    
    
}

.texto-tarjeta {
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    a {
        text-decoration: none;
        color: black;
        &:hover {
            color: yellow;
        }
        
    }
}

/*pie de pagina*/

.copy {
    justify-self: 20%;
    grid-area: copi;
}
.pais {
    grid-area: pais;
}
.privacidad {
    grid-area: privacidad;
}
.cookies {
    grid-area: cook;
}
.legales {
    grid-area: leg;
}
.red {
    justify-self: right;
    grid-area: rede;
}
.footerbox {
    justify-self: center;
    grid-area: footerbox;
}
.volver {
    justify-self: left;
    grid-area: volver;
    
}



.foot {
    display: grid;
    padding: 20px;       
    font-weight: bold; 
    color: rgb(234, 245, 88);   
    background-image: radial-gradient(rgb(73, 71, 213),rgb(4, 11, 84));
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    grid-template-areas: 
     "copi copi copi copi copi"
     "pais pais privacidad cook leg"
     "volver volver rede rede footerbox";     
    
}
.volver {
    a {
        color: rgb(234, 245, 88);
        text-decoration: none;
        &:hover {
            color: red;
        }
    }
}

.redes img {
    width: 2rem;
    height: 2rem;
}
.info {
    text-align: center;
}


/*contacto*/


#contact {
    background-color: rgb(173, 93, 166);
    color: rgb(241, 245, 185);
}
.cuerpocontacto {
    background-color: rgb(241, 225, 240);
    .info {
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 20px;
        text-shadow: 1px 3px 0 rgb(171, 171, 172);
    }
}
.comentarios {
    margin: 4rem 2rem 5px 2rem;
    padding: 2rem;
    border-color: rgb(173, 93, 166);
    border-style: dashed;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 1);
}







