@media (max-width: 576px) {
    .titulo {
        font-size: 20px;
    }
    .detalle {
        display: block;
    }
}
/*mayor a 1270px*/

@media (min-width: 1270px) {   

    .contenedor {
        background-image: linear-gradient(to bottom, rgb(244, 236, 236), rgb(193, 193, 232));
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        grid-template-rows:auto;
    }
    .cine {
        background-color: rgb(137, 87, 230);
        padding: 0.3rem;
        border: solid 0.12rem black;
        width: 18rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;       
        margin: 0.6rem;
        .cinei {
            a {
                img {
                    width: 12rem;
                    height: auto;
                    border: solid 0.12rem black;
                }
            }
        }
    }
    
    
    
    .food {
        background-color: rgb(235, 146, 174);
        padding: 0.3rem;
        border: solid 0.12rem black;
        width: 18rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        margin: 0.6rem;
        .foodi {
            a {
                img {
                    width: 12rem;
                    height: auto;
                    border: solid 0.12rem black;
                }
            }
        }
    }
    
    
    
    .entre {
        background-color: rgb(131, 184, 114);
        padding: 0.3rem;
        border: solid 0.12rem black;
        width: 18rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        margin: 0.6rem;
        .entrei {
            a {
                img {
                    width: 12rem;
                    height: auto;
                    border: solid 0.12rem black;
                }
            }
        }
    }
    
    
    
    .cont {
        background-color: rgb(248, 145, 248);
        padding: 0.3rem;
        border: solid 0.12rem black;
        width: 18rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        margin: 0.6rem;
        .conti {
            a {
                img {
                    width: 12rem;
                    height: auto;
                    border: solid 0.12rem black;
                }
            }
        }
    }
}
/*entre 1270px y 670px*/

@media (max-width: 1270px) and (min-width: 670px) {   

    .contenedor {
        background-image: linear-gradient(to bottom, rgb(244, 236, 236), rgb(193, 193, 232));
        display: grid; 
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-template-rows: auto;
    }
    .cine {
        background-color: rgb(137, 87, 230);
        padding: 0.3rem;
        border: solid 0.12rem black;
        width: 18rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;       
        margin: 0.6rem;
        .cinei {
            a {
                img {
                    width: 12rem;
                    height: auto;
                    border: solid 0.12rem black;
                }
            }
        }
    }
        
    
    .food {
        background-color: rgb(235, 146, 174);
        padding: 0.3rem;
        border: solid 0.12rem black;
        width: 18rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        margin: 0.6rem;
        .foodi {
            a {
                img {
                    width: 12rem;
                    height: auto;
                    border: solid 0.12rem black;
                }
            }
        }
    }
        
    
    .entre {
        background-color: rgb(131, 184, 114);
        padding: 0.3rem;
        border: solid 0.12rem black;
        width: 18rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        margin: 0.6rem;
        .entrei {
            a {
                img {
                    width: 12rem;
                    height: auto;
                    border: solid 0.12rem black;
                }
            }
        }
    }
       
    
    .cont {
        background-color: rgb(248, 145, 248);
        padding: 0.3rem;
        border: solid 0.12rem black;
        width: 18rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        margin: 0.6rem;
        .conti {
            a {
                img {
                    width: 12rem;
                    height: auto;
                    border: solid 0.12rem black;
                }
            }
        }
    }
}
/*menor a 670px*/

@media (max-width: 670px) and (min-width: 150px) {   

    .contenedor {
        background-image: linear-gradient(to bottom, rgb(244, 236, 236), rgb(193, 193, 232));
        display: grid; 
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-template-rows: auto;
    }
    .cine {
        background-color: rgb(137, 87, 230);
        padding: 0.15rem;
        border: solid 0.06rem black;
        width: 9rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;       
        margin: 0.3rem;
        .cinei {
            a {
                img {
                    width: 6rem;
                    height: auto;
                    border: solid 0.06rem black;
                }
            }
        }
    }
        
    
    .food {
        background-color: rgb(235, 146, 174);
        padding: 0.15rem;
        border: solid 0.06rem black;
        width: 9rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        margin: 0.3rem;
        .foodi {
            a {
                img {
                    width: 6rem;
                    height: auto;
                    border: solid 0.06rem black;
                }
            }
        }
    }
        
    
    .entre {
        background-color: rgb(131, 184, 114);
        padding: 0.15rem;
        border: solid 0.06rem black;
        width: 9rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        margin: 0.3rem;
        .entrei {
            a {
                img {
                    width: 6rem;
                    height: auto;
                    border: solid 0.06rem black;
                }
            }
        }
    }
        
    
    .cont {
        background-color: rgb(248, 145, 248);
        padding: 0.15rem;
        border: solid 0.06rem black;
        width: 9rem;
        height: auto;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        margin: 0.3rem;
        .conti {
            a {
                img {
                    width: 6rem;
                    height: auto;
                    border: solid 0.06rem black;
                }
            }
        }
    }       
}

@media (min-width: 625px) {
    .imagen-resto img {
        width: 30rem;
        height: auto;
    }
    .menues {
        display: grid;
        grid-template-rows: 1fr 800px 1fr 800px;
    }
    .menu-sub-a {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;    
        background-image: linear-gradient(to left, rgb(176, 249, 161), rgb(126, 130, 128));
    }     
}
@media (max-width: 625px) {
    .imagen-resto img {
        width: 100%;
        height: auto;
    } 
    .menues {
        display: grid;
        grid-template-rows: 1fr 1600px 1fr 1600px;
    }
    .menu-sub-a {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;    
        background-image: linear-gradient(to left, rgb(176, 249, 161), rgb(126, 130, 128));
    }
        
}




