/*css resto y mas*/

.imagen-resto {
    text-align: center;
    background-color: rgb(201, 227, 250);
     h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 60px;
    }
     h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
    }    
}

.restocomida {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    background-image: linear-gradient(to bottom,rgb(201, 227, 250), aqua );

}
.menugral {
    a {
        text-decoration: none;
    }
}

.tit {
    text-align: center;
    background-color: rgb(100, 177, 177);
}

.menu-sub {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    padding-top: 50px;
    padding-left: 1rem;
    text-decoration: overline;
}
.ini {
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    text-decoration: none;  
}

/*animacion*/

.muestra {
    transition: all 0.5s; 
    .detallemenu {
        transition: all 0.5s; 
        display: none;
     }
     &:hover {
        height: 350px; 
        width: 500px;       
        padding: 20px;
        background-color: rgb(222, 238, 238);
        .detallemenu {
            display: block;
         }
    }       
 } 
 
 


