*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

@import "variables";
@import "encabezado";
@import "principal";
@import "querys";
@import "resto";
@import "juegos";
@import "cine";

